@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  padding-bottom: 500px;
}
ul {
  display: flex; 

 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 
}



nav ul {
   list-style-type: none;
}

.navigation {
 
 background-color: black;


 
 
}

.navigation .navbar li a {
 color: white;
 font-size: 18px;
 
 text-decoration: none;
}


a:hover {

 border-bottom: 3px solid white;
}

.logo{
  margin-left: -30px;
}






.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* flex-wrap: wrap; */
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  flex: 0 0 400px;
  /* margin-left: 50px; */

  
}
.suvs {
  background-color: hsl(184, 100%, 22%);
  flex: 0 0 400px;
}
.luxury {
  background-color: hsl(179, 100%, 13%);

  flex: 0 0 400px;
  /* margin-right: 50px; */

}
button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
img {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

button {
  background-color: white;
  padding: 10px 15px;
  margin-top: 40px;
  margin-bottom: 50px;
  border: none;
  border-radius: 19px;
}
.sedans_btn {
  color: hsl(31, 77%, 52%);
  margin-left: 35px;
}
.suvs_btn {
  color: hsl(184, 100%, 22%);
  margin-left: 35px;
}
.luxury_btn {
  color: hsl(179, 100%, 13%);
  margin-left: 35px;
}

h3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  padding-left: 15px;
  
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 0px 20px;
 
  font-family: Lexend Deca, Arial;
}

h3,
button {
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display, Arial;
}


@media  (max-width: 1217px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .sedans {
    margin-left: 0px;
  }

  .luxury {
    flex: 0 0 800px;
    margin-right: 0px;
  }

  
}
@media (max-width: 820px ) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .sedans {
    margin-left: 0px;
  }

  .luxury {
    flex: 0 0 400px;
 
    margin-right: 0px;
  }
  
}
 
 @media only screen and (max-width: 716px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .sedans {
    margin-left: 0px;
  }

  .luxury {
    flex: 0 0 400px;
 
    margin-right: 0px;
  }
} 

/* @media only screen and (max-width: 550px) {
} */
/* @media only screen and (max-width: 550px) {


  .sedans {

    flex: 1;
    margin-left: 10px;
    
  }

  .sedans_btn, .suvs_btn{
    margin-top: 58px;
  }



  .suvs {
    flex: 1;
  }
  .luxury {
    flex: 1;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .container{
    flex-wrap: no-wrap;
  }


  .sedans {

    flex: 1;
/*     margin-left: 5px; */
    
  }

  .sedans_btn, .suvs_btn{
    margin-top: 58px;
  }



  .suvs {
    flex: 1;
/*     margin-right: 5px;
    margin-left: 5px; */
    
  }
  .luxury {
    flex: 1;
/*     margin-right: 5px; */
  }
}
 */
