@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  padding-bottom: 500px;
}
ul {
  display: flex; 
  align-items: center;

 flex-direction: row;
 justify-content: space-evenly;
 
}

li{
margin-right: 80px;
}

nav ul {
   list-style-type: none;
}

.navigation {
 
 background-color: black;
 padding: 10px 20px;
 width: 100%
 
 
}

.navigation .navbar li a {
 color: white;
 font-size: 18px;
 
 text-decoration: none;
}


a:hover {

 border-bottom: 3px solid white;
}

.logo{
  margin-left: -30px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem 2rem;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sedans{
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.suvs{
  background-color: hsl(184, 100%, 22%);
 
}

.luxury{
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

}
.card{
    padding: 2.5rem;
    flex: 1 1 0px;
    align-self: stretch;
    width: 100%;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: #f3f3f3;
    margin: 2rem 0;
}

p{
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: #eeeeee;
  margin-bottom: 5rem;
  font-size: 0.9375rem;
}
button{
  background-color: white;
  border: none;
  border: 2px solid white;
  border-radius: 5rem;
  padding: 0.7rem 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  cursor: pointer;
}
.sedans-btn{
  color: hsl(31, 77%, 52%);
}

.suvs-btn{
  color: hsl(184, 100%, 22%);
}

.luxury-btn{
   color: hsl(179, 100%, 13%);
}

button:hover {
  background-color: transparent;
  color: #ffffff;
  

}








@media screen and (max-width:573px) {
  .sedans {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0rem;
  }
  
  .suvs {
      border-top-left-radius: 0rem;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0rem;
  }
  
  .luxury {
      border-top-right-radius: 0rem;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
  }
  
}



@media screen and (max-width:404px) {
  .sedans {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0rem;
  }
  
  .suvs {
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
      border-bottom-left-radius: 0rem;
  }
  
  .luxury {
      border-top-right-radius: 0rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
  }
  
}








